node_modules
.DS_Store
.vscode
.tsbuildinfo
.wireit

/lib
/test
/stories
/storybook-static

/index.js
/index.js.map
/index.d.ts
/index.d.ts.map
/web-test-runner.config.js
/web-test-runner.config.js.map
/web-test-runner.config.d.ts
/web-test-runner.config.d.ts.map
/demo/index.js
/demo/index.js.map
/demo/index.d.ts
/demo/index.d.ts.map

custom-elements.json

gh-pages/

*storybook.log
